<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us - Qasr Al Hasna Used Cars and Spare Parts LLC</title>
	<meta name="description" content="Learn about Qasr Al Hasna Used Cars and Spare Parts LLC - a leading supplier of quality used car parts for various makes and models. Discover our history, mission, and commitment to providing affordable and reliable spare parts.">
	<meta name="keywords" content="used car parts, spare parts, spare parts sharjah, spare parts UAE, highlander parts, sienna parts, second-hand car parts, affordable car parts">
	<link rel="canonical" href="https://www.qasralhasna.ae/about-us/" />
	<meta property="og:title" content="About Us - Qasr Al Hasna Used Cars and Spare Parts LLC">
	<meta property="og:description" content="Learn about Qasr Al Hasna Used Cars and Spare Parts LLC - a leading supplier of quality used car parts for various makes and models. Discover our history, mission, and commitment to providing affordable and reliable spare parts.">
	<meta property="og:url" content="https://www.qasralhasna.ae/about-us">
	<meta property="og:image" content="https://www.qasralhasna.ae/assets/2.jpg">
	<meta name="twitter:title" content="About Us - Qasr Al Hasna Used Cars and Spare Parts LLC">
	<meta name="twitter:description" content="Learn about Qasr Al Hasna Used Cars and Spare Parts LLC - a leading supplier of quality used car parts for various makes and models. Discover our history, mission, and commitment to providing affordable and reliable spare parts.">
	<meta name="twitter:image" content="https://www.qasralhasna.ae/assets/2.jpg">
	<meta name="twitter:card" content="summary_large_image">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
	<link href="/css/about.css" rel="stylesheet">
	
	<%- include('common/header');%>

	   
	   <section id="menu" class="clearfix cd-secondary-nav">
		   <nav class="navbar nav_t">
			   <div class="container">
				   <div class="navbar-header page-scroll">
					   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						   <span class="sr-only">Toggle navigation</span>
						   <span class="icon-bar"></span>
						   <span class="icon-bar"></span>
						   <span class="icon-bar"></span>
					   </button>
					   <a class="navbar-brand" href="/"><span class="col_1">Qasr Al</span> Hasna</a>
				   </div>
				   <!-- Brand and toggle get grouped for better mobile display -->
				   <!-- Collect the nav links, forms, and other content for toggling -->
				   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					   <ul class="nav navbar-nav">
					   
					   <li><a class="m_tag" href="/">Home</a></li>
					   <li><a class="m_tag" href="/all-products">Products</a></li>
					   <li><a class="m_tag" href="/cars">Cars</a></li>
					   <li><a class="m_tag active_tab" href="/about-us">About Us</a></li>
					   <li><a class="m_tag" href="/contact-us">Contact Us</a></li>
					  
					
				   </ul>
					   
				   </div>
				   <!-- /.navbar-collapse -->
			   </div>
			   <!-- /.container-fluid -->
		   </nav>
		   
		   </section>
	
<section id="center" class="clearfix center_shop">
<div class="container">
 <div class="row">
   <div class="center_shop_1 clearfix">
    <div class="col-sm-6">
	 <div class="center_shop_1l clearfix">
	  <h3 class="mgt">About Us</h3>
	 </div>
	</div>
	<div class="col-sm-6">
	 <div class="center_shop_1r text-right clearfix">
	  <h5><a class="col_2" href="/">Home</a> / <span>About Us</span></h5>
	 </div>
	</div>
   </div>
 </div>
</div>
</section>

<section id="about">
 <div class="container">
  <div class="row">
    <div class="about_1 clearfix">
	 <div class="col-sm-6">
	  <div class="about_1l clearfix">
	   <h5 class="col_1 mgt">We believe in less but better</h5>
	   <h3>Welcome to our Auto Spare Parts Website!</h3>
	   <p>we are your trusted source for high-quality auto spare parts. Our extensive catalog covers a wide range of components and accessories for various makes and models.</p>
	   <p>A message from our founders</p><br>
	   <blockquote><p class="mgt">We are passionate about providing high-quality auto spare parts and ensuring a seamless shopping experience for our valued customers.</p></blockquote>
	  </div>
	 </div>
	 <div class="col-sm-6">
	  <div class="about_1r clearfix">
	   <img style="height: 60vh;" src="/img/qasar.jpg" class="iw" alt="abc">
	  </div>
	 </div>
	</div>
	<div class="about_2 clearfix">
	 <div class="col-sm-3">
	  <div class="about_2i text-center clearfix">
	   <h2 class="col_1 mgt">12M</h2>
	   <h5>Happy Clients</h5>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="about_2i text-center clearfix">
	   <h2 class="col_1 mgt">22M</h2>
	   <h5>Global Customers</h5>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="about_2i text-center clearfix">
	   <h2 class="col_1 mgt">79+</h2>
	   <h5>Experts Employee</h5>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="about_2i text-center clearfix">
	   <h2 class="col_1 mgt">29+</h2>
	   <h5>Awards Win</h5>
	  </div>
	 </div>
	</div>
	<div class="about_3 clearfix">
	  <div class="categories_1 clearfix">
		<div class="col-sm-12">
		 <h2 class="mgt">Why Choose Us</h2>
		</div>
   </div>
     <div class="about_3i clearfix clearfix">
		<div class="col-sm-4">
	     <div class="about_3ii text-center clearfix">
		  <span><i class="fa fa-building-o col_1"></i></span>
		  <h4>High Production</h4>
		  <p>Our commitment to efficiency and productivity ensures that we deliver top-quality auto spare parts at an impressive rate.</p>
		 </div>
		</div>
		<div class="col-sm-4">
	     <div class="about_3ii text-center clearfix">
		  <span><i class="fa fa-chain col_1"></i></span>
		  <h4>Reliable Supplying</h4>
		  <p>We pride ourselves on our reliable supply chain. We have established strong partnerships with trusted manufacturers and suppliers, guaranteeing a consistent availability of auto spare parts.</p>
		 </div>
		</div>
		<div class="col-sm-4">
	     <div class="about_3ii text-center clearfix">
		  <span><i class="fa fa-truck col_1"></i></span>
		  <h4>Quick Delivery</h4>
		  <p>As soon as you place your order, our efficient logistics team springs into action to ensure prompt dispatch and delivery of your auto spare parts.</p>
		 </div>
		</div>
   </div>
	</div>
  </div>
 </div>
</section>

<section id="connect" class="clearfix">
 <div class="container">
  <div class="row">
   <div class="col-sm-12 space_all">
    <div class="connect_1 clearfix">
	
	 <div class="col-sm-3 connect_1m">
	  <div class="connect_1l clearfix">
	    <span><i class="fa fa-headphones"></i></span>
	  </div>
	  <div class="connect_1r clearfix">
	   <h4>Support 24/7</h4>
	   <p>Contact us 24 hours a day</p>
	  </div>
	 </div>
	
	 
	</div>
   </div>
  </div>
 </div>
</section>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/652ea6d0a84dd54dc4822ae0/1hcv792eq';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->

<%- include('common/footer');%>

</body>
 
</html>
