<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Product - Qasr Al Hasna Used Cars and Spare Parts LLC</title>
	<meta name="description" content="Learn about Qasr Al Hasna Used Cars and Spare Parts LLC - a leading supplier of quality used car parts for various makes and models. Discover our history, mission, and commitment to providing affordable and reliable spare parts.">
	<meta name="keywords" content="used car parts, spare parts, spare parts sharjah, spare parts UAE, highlander parts, sienna parts, second-hand car parts, affordable car parts">
	<link rel="canonical" href="https://www.qasralhasna.ae/about-us/" />
	<meta property="og:title" content="About Us - Qasr Al Hasna Used Cars and Spare Parts LLC">
	<meta property="og:description" content="Learn about Qasr Al Hasna Used Cars and Spare Parts LLC - a leading supplier of quality used car parts for various makes and models. Discover our history, mission, and commitment to providing affordable and reliable spare parts.">
	<meta property="og:url" content="https://www.qasralhasna.ae/about-us">
	<meta property="og:image" content="https://www.qasralhasna.ae/assets/2.jpg">
	<meta name="twitter:title" content="About Us - Qasr Al Hasna Used Cars and Spare Parts LLC">
	<meta name="twitter:description" content="Learn about Qasr Al Hasna Used Cars and Spare Parts LLC - a leading supplier of quality used car parts for various makes and models. Discover our history, mission, and commitment to providing affordable and reliable spare parts.">
	<meta name="twitter:image" content="https://www.qasralhasna.ae/assets/2.jpg">
	<meta name="twitter:card" content="summary_large_image">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
    <link href="/css/addProduct.css" rel="stylesheet">
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<link href="/css/about.css" rel="stylesheet">


</head>
     
    <body>
    <section id="top">
        <div class="container">
          <div class="row">
            <div class="top_1 clearfix">
              <div class="col-sm-3">
                <div class="top_1l clearfix">
                  <p class="mgt small">Welcome to our store!</p>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="top_1r clearfix">
                  <ul class="nav navbar-nav nav_1 mgt navbar-right">
                    <li class="dropdown bord_l">
                      <a class="font_tag border_none" href="#" data-toggle="dropdown" role="button"
                        aria-expanded="false">English<span class="caret"></span></a>
                      <ul class="dropdown-menu drop_1" role="menu">
                        <li><a href="#"><i class="fa fa-flag"></i> English</a></li>
                        <li><a href="#"><i class="fa fa-flag"></i> Arabic</a></li>
                      </ul>
                    </li>
                    <!-- <li id="userDisplayName" style="margin-left: 15px; color: black;"><a></a></li> -->
                  </ul>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="top_1r clearfix">
                  <ul class="nav navbar-nav nav_1 mgt navbar-right">
                    <li id="userDisplayName" class="dropdown bord_l" style="display:;">
                      <a class="font_tag border_none" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span id="loggedInUserName"></span>
                      </a>
                      <ul class="dropdown-menu drop_1" role="menu">
                        <li><a href="#" onclick="logout()"><i class=""></i> Logout</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>
      <section id="header">
        <div class="container">
          <div class="row">
            <div class="header_1 clearfix">
            
              <div class="col-sm-4">
                
                <div class="header_1l clearfix">
                  <h2 class="mgt"><a href="/"><span class="col_1">Qasr AL</span> Hasna</a></h2>
                  <p>We have been dealing in spare parts since 90's</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="header_1m clearfix">
                  
                </div>
              </div>
              <div class="header_1r clearfix">
                
              </div>
            </div>
          </div>
        </div>
      </section>
	   
    <section id="menu" class="clearfix cd-secondary-nav">
        <nav class="navbar nav_t">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><span class="col_1">Qasr Al</span> Hasna</a>
                </div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li><a class="m_tag " href="/">Home</a></li>
                        <li><a class="m_tag" href="/all-products">Products</a></li>
                        <li><a class="m_tag" href="/about-us">About Us</a></li>
                        <li><a class="m_tag" href="/contact-us">Contact Us</a></li>
                        <li><a id="addCarsButton" class="m_tag" href="/addCars" style="">Add Cars</a></li>
                        
                        
                                                
                    

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

    </section>
	
<section id="center" class="clearfix center_shop">
  <div class="form-container">
    <h2 style="text-align: center; margin: 20px;">Add Cars</h2>
    
    <form id="product-form" action="/addCars" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="formType" value="cars">
        <label for="model">Model:</label>
        <input type="text" id="model" name="model" required>

        <label for="year">Year:</label>
        <input type="number" id="yearCars" name="year" required>
        <label for="color">Colour:</label>
        <input type="text" id="color" name="color" required>
        <label for="vin">Vin Code:</label>
        <input  type="text" id="vin" name="vin">    
        <label for="millage">Millage:</label>
        <input type="number" id="millage" name="millage">
        <label for="totalAmount">Amount:</label>AED: 
        <input style="width: 30%;" type="number" id="totalAmount" name="totalAmount" required>
        <label for="des">Description:</label>
        <textarea style="height: 200px; width: 100%;" type="text" id="des" name="des"></textarea>
        <input type="file" id="imageInput" name="images[]" accept="image/*" multiple>
        <p style="font-size: 13px; color: red;">Min Limit 4 - Max limit 15</p>
          <div class="button-container">
            <button type="submit" id="submitButton">Add Cars</button>
            <button type="button" class="cancel" onclick="cancel()">Cancel</button>
          </div>
      </form>

<script>
document.getElementById("submitButton").addEventListener("click", function() {
  const inputElement = document.getElementById("imageInput");
  const selectedImages = inputElement.files;
  const minRequired = 4;
  const maxAllowed = 15;

  if (selectedImages.length < minRequired) {
    alert(`Please select at least ${minRequired} images.`);
  } else if (selectedImages.length > maxAllowed) {
    alert(`You can select a maximum of ${maxAllowed} images.`);
  } else {
    // Proceed with form submission
    // You can submit the selected images here using AJAX or a form submission
  }
});
</script>

<script>
let loginButtonActive = false;
document.addEventListener("DOMContentLoaded", () => {
  
//   fileInput.addEventListener("change", function() {
//     const formData = new FormData();
//     const files = fileInput.files;
//     for (let i = 0; i < files.length; i++) {
//       formData.append("images[]", files[i]);
//     }
//   });
  const fileInput = document.getElementById("imageInput");  
  const productForm = document.getElementById("product-form");
  productForm.addEventListener("submit", async (event) => {
    event.preventDefault(); // Prevent the default form submission action
    const apiUrl = 'http://localhost:3000/addCars';
    const maxImageCount = 15;
    const minImageCount = 4;
    const files = fileInput.files;
    let formData;

      if (files.length >= minImageCount && files.length <= maxImageCount) {
        formData = new FormData();  
        formData.append("model", document.getElementById("model").value);
        formData.append("year", Number(document.getElementById("yearCars").value) || 0);
        formData.append("color", document.getElementById("color").value);
        formData.append("vin", document.getElementById("vin").value);
        formData.append("millage", Number(document.getElementById("millage").value) || 0);
        formData.append("totalAmount", Number(document.getElementById("totalAmount").value) || 0);
        formData.append("des", document.getElementById("des").value);
          for (let i = 0; i < files.length; i++) {
        formData.append("images[]", files[i]);
        }
        console.log(`Number of images uploaded: ${files.length}`);
        } else {}

  const requestOptions = {
      method: 'POST',
      body: formData,
    };
    console.log('Sending POST request to:', apiUrl); // Add this line

    for (const entry of formData.entries()) {
      console.log(`FormData Entry: ${entry[0]}: ${entry[1]}`);
    }

    try {
      fetch(apiUrl, requestOptions)
        .then((response) => {
          console.log('Response Status:', response.status);
          console.log("i received this formData: " + formData);
          if (!response.ok) {
            console.error('Request failed with status:', response.status);
            throw new Error('Network response was not ok');
          }
          return response.json();
        })
        .then((parsedData) => {
          console.log('API response:', parsedData);
          console.log('Parsed API response data:', parsedData);

          if (parsedData && parsedData.success) {
            console.log('Server response: Success');
          } else {
            console.log('Server response: Failure');
          }

          // Add a console message here to verify the JSON response processing
          console.log('JSON Response Processed:', parsedData);
        })
        .catch((error) => {
          console.error('API response error:', error);
        });

      alert('Form is submitted!');
      productForm.reset();
    } catch (error) {
      console.error('Fetch request error:', error);
    }
  });
});

</script>

<script>

    function getUserFromStorage() {
      return sessionStorage.getItem('userName');
    }
  
    // You can call this function to get the user's name when needed
    const userName = getUserFromStorage();
  
    if (userName) {
      const loggedInUserName = document.getElementById('loggedInUserName');
      loggedInUserName.textContent = userName;
      console.log(userName);
      loggedInUserName.style.display = 'block';
    } else {
      // User is not logged in
    }
    function logout() {
      sessionStorage.removeItem('userName');
      console.log(userName + "removed");
      window.location.href =  '/login';
      toggleAddProductButton();
      
    }
    function cancel() {
    window.location.href = '/';
  }

  document.querySelector('.cancel').addEventListener('click', function () {
    if (loginButtonActive) {
     
      console.log(userName);
    
    } else {
      window.location.href = '/login';
   
    }
  });

  // Function to check if the login button is active
  function checkLoginButton() {
    const loginButton = document.querySelector('form button[type="submit"]');
    loginButtonActive = !loginButton.hasAttribute('disabled');
  }

  // Add event listeners to form inputs to check login button activity on input change
  const nameElement = document.getElementById('name');
if (nameElement) {
  nameElement.addEventListener('input', checkLoginButton);
}

const usernameElement = document.getElementById('username');
if (usernameElement) {
  usernameElement.addEventListener('input', checkLoginButton);
}

const passwordElement = document.getElementById('password');
if (passwordElement) {
  passwordElement.addEventListener('input', checkLoginButton);
}

// Initially, check the login button activity when the page loads
document.addEventListener('DOMContentLoaded', () => {
  checkLoginButton();
});
  </script>

</body>
</html>