<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Qasr Al Hasna Used Cars and Spare Parts LLC - Quality Used Car Parts</title>
	<meta name="description" content="Qasr Al Hasna Used Cars and Spare Parts LLC offers a wide selection of quality used car parts for various makes and models. Find the parts you need at affordable prices.">
	<meta name="keywords" content="used car parts, spare parts, Qasr Al Hasna Used Cars, spare parts sharjah, spare parts UAE, highlander parts, sienna parts, second-hand car parts, affordable car parts">
	<link rel="canonical" href="https://www.qasralhasna.ae/" />
	<meta property="og:title" content="Qasr Al Hasna Used Cars and Spare Parts LLC - Quality Used Car Parts">
	<meta property="og:description" content="Qasr Al Hasna Used Cars and Spare Parts LLC offers a wide selection of quality used car parts for various makes and models. Find the parts you need at affordable prices.">
	<meta property="og:url" content="https://www.qasralhasna.ae/">
	<meta property="og:image" content="https://www.qasralhasna.ae/assets/2.jpg">
	<meta name="twitter:title" content="Qasr Al Hasna Used Cars and Spare Parts LLC - Quality Used Car Parts">
	<meta name="twitter:description" content="Qasr Al Hasna Used Cars and Spare Parts LLC offers a wide selection of quality used car parts for various makes and models. Find the parts you need at affordable prices.">
	<meta name="twitter:image" content="https://www.qasralhasna.ae/assets/2.jpg">
	<meta name="twitter:card" content="summary_large_image">
	<%- include('common/header');%>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">

	<script type="application/ld+json">
		{
		  "@context": "http://schema.org",
		  "@type": "LocalBusiness",
		  "name": "Qasr Al Hasna Used Cars and Spare Parts LLC",
		  "url": "https://www.qasralhasna.ae/",
		  "logo": "https://www.qasralhasna.ae/assets/2.jpg",
		  "address": {
			"@type": "PostalAddress",
			"streetAddress": "3rd Industrial Street",
			"addressLocality": "Industrial Area 6",
			"addressRegion": "Sharjah",
			"postalCode": "70961",
			"addressCountry": "United Arab Emirates"
		  },
		  "telephone": "+971-507975568"
		}
		</script>
		
	
	
		<section id="menu" class="clearfix cd-secondary-nav">
			<nav class="navbar nav_t">
				<div class="container">
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/"><span class="col_1">Qasr Al</span> Hasna</a>
					</div>
					<!-- Brand and toggle get grouped for better mobile display -->
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">

							<li><a class="m_tag active_tab" href="/">Home</a></li>
							<li><a class="m_tag" href="/all-products">Products</a></li>
							<li><a class="m_tag" href="/cars">Cars</a></li>
							<li><a class="m_tag" href="/about-us">About Us</a></li>
							<li><a class="m_tag" href="/contact-us">Contact Us</a></li>
								
						</ul>

					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>

		</section>

		<section id="center" class="clearfix center_home">
			<div class="container">
				<div class="row">
					<div class="center_home_1 clearfix">
						<div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item active">
									<div class="col-sm-6">
										<div class="center_home_l clearfix">
											<h4 class="mgt">UAE Best Quality</h4>
											<h1>Premium Parts, Affordable Prices.</h1>
											<hr>
											<p>Explore our wide range of high-quality spare parts for machines and
												vehicles. Find the perfect match for your repair or upgrade needs.
												Exceptional customer service. Trust us for a seamless spare parts
												experience.</p>
												<!-- No need -->
											<!-- <h5 class="normal"><a class="button" href="/all-products">Shopping Now</a></h5> -->
										</div>
									</div>
									<div class="col-sm-6">
										<div class="center_home_r clearfix">
											<img src="/assets/2.jpg" class="iw" alt="abc">
										</div>
									</div>
								</div>
								<div class="item">
									<div class="col-sm-6">
										<div class="center_home_l clearfix">
											<h4 class="mgt">UAE Best Quality</h4>
											<h1>Your Source for Spare Parts</h1>
											<hr>
											<p>Explore our extensive inventory of reliable spare parts, meticulously
												selected to fulfill your repair needs. Trust in our commitment to
												affordability without compromising quality. With convenient doorstep
												delivery, we bring the reliability of trustworthy spare parts right to
												you.</p>
											<!-- no needed -->
												<!-- <h5 class="normal"><a class="button" href="/all-products">Shopping Now</a></h5> -->
										</div>
									</div>
									<div class="col-sm-6">
										<div class="center_home_r clearfix">
											<img src="/assets/1.jpeg" class="iw" alt="abc">
										</div>
									</div>
								</div>
								<div class="item">
									<div class="col-sm-6">
										<div class="center_home_l clearfix">
											<h4 class="mgt">UAE Best Quality</h4>
											<h1>Fast and Reliable Spare Parts Delivery</h1>
											<hr>
											<p>Trust our efficient delivery service to
												 ensure swift delivery of the spare parts you need.
												  We prioritize speed without compromising on the quality of our products,
												   ensuring that your repair or maintenance tasks are completed promptly.</p>
												   <!-- No need -->
											<!-- <h5 class="normal"><a class="button" href="/all-products">Shopping Now</a></h5> -->
										</div>
									</div>
									<div class="col-sm-6">
										<div class="center_home_r clearfix">
											<img src="/assets/1.jpeg" class="iw" alt="abc">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="sell_1 clearfix">

							<div class="col-sm-12">
								<!-- Controls -->
								<div class="controls text-center">
									<a class="left fa fa-chevron-left btn btn-success" href="#carousel-example"	data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="blog_home">
			<div class="container">
				<div class="row">
					<div class="Categ_1 clearfix">
						<div class="col-sm-12">
							<h3 style="color: red;" class="mgt1">New Arrivals</h3>
							<hr>
							<script>
								document.addEventListener("DOMContentLoaded", function() {
  								const h3Element = document.getElementById("newArrivals");
  								h3Element.classList.add("mgt1");
								});

							</script>
						</div>
					</div>
					<div class="blog_home_1 clearfix">
						<div class="col-sm-4 margin-top">
							<div class="blog_home_1i clearfix">
								<a href="/vehicle/highlander"><img src="/assets/Highlander.png" class="iw" alt="abc"></a>
								<h3>Toyota Highlander</h3>
								<p class="bold">(2014-2023)</p>
								<h5><a class="button" href="/vehicle/highlander">View All Parts</a></h5>
							</div>
						</div>
						<div class="col-sm-4 margin-top">
							<div class="blog_home_1i clearfix">
								<a href="/vehicle/rav4"><img src="/assets/Rav4.png" class="iw" alt="abc"></a>
								<h3>Toyota Rav4</h3>
								<p class="bold">(2010-2023)</p>
								<h5><a class="button" href="/vehicle/rav4">View All Parts</a></h5>
							</div>
						</div>
						<div class="col-sm-4 margin-top">
							<div class="blog_home_1i clearfix">
								<a href="/vehicle/nx"><img src="assets/NX 350.png" class="iw" alt="abc"></a>
								<h3>Lexus NX</h3>
								<p class="bold">(2016-2024)</p>
								<h5><a class="button" href="/vehicle/nx">View All Parts</a></h5>
							</div>
						</div>		
					</div>
				</div>
			</div>
		</section>

		<section id="blog_home">
			<div class="container">
				<div class="row">
					<div class="Categ_1 clearfix">
						<div class="col-sm-12">
							<h3 class="mgt">Available Vehicles Parts</h3>
							<hr>
						</div>
					</div>
					<div class="blog_home_1 clearfix">
						<div class="col-sm-4 margin-top">
							<div class="blog_home_1i clearfix">
								<a href="/vehicle/sienna"><img src="/assets/sienna xse.png" class="iw" alt="abc"></a>
								<h3>Toyota Sienna</h3>
								<p class="bold">(2021-2023)</p>
								<h5><a class="button" href="/vehicle/sienna">View All Parts</a></h5>
							</div>
						</div>
						<div class="col-sm-4 margin-top">
							<div class="blog_home_1i clearfix">
								<a href="/vehicle/rav4"><img src="/assets/Rav4.png" class="iw" alt="abc"></a>
								<h3>Toyota Rav4</h3>
								<p class="bold">(2010-2023)</p>
								<h5><a class="button" href="/vehicle/rav4">View All Parts</a></h5>
							</div>
						</div>
						<div class="col-sm-4 margin-top">
							<div class="blog_home_1i clearfix">
								<a href="/vehicle/tacoma"><img src="/assets/Tacoma.png" class="iw" alt="abc"></a>
								<h3>Toyota Tacoma</h3>
								<p class="bold">(2016-2023)</p>
								<h5><a class="button" href="/vehicle/tacoma">View All Parts</a></h5>
							</div>
						</div>
						<div class="col-sm-4 margin-top">
							<div class="blog_home_1i clearfix">
								<a href="/vehicle/highlander"><img src="/assets/Highlander.png" class="iw" alt="abc"></a>
								<h3>Toyota Highlander</h3>
								<p class="bold">(2014-2023)</p>
								<h5><a class="button" href="/vehicle/highlander">View All Parts</a></h5>
							</div>
						</div>
						<div class="col-sm-4 margin-top">
							<div class="blog_home_1i clearfix">
								<a href="/vehicle/rx350"><img src="assets/RX 350.png" class="iw" alt="abc"></a>
								<h3>Lexus RX 350</h3>
								<p class="bold">(2013-2023)</p>
								<h5><a class="button" href="/vehicle/rx350">View All Parts</a></h5>
							</div>
						</div>
						<div class="col-sm-4 margin-top">
							<div class="blog_home_1i clearfix">
								<a href="/vehicle/nx"><img src="assets/NX 350.png" class="iw" alt="abc"></a>
								<h3>Lexus NX</h3>
								<p class="bold">(2016-2024)</p>
								<h5><a class="button" href="/vehicle/nx">View All Parts</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="Categ">
			<div class="container">
				<div class="row">
					<div class="Categ_1 clearfix">
						<div class="col-sm-12">
							<h3 class="mgt">Popular Categories</h3>
							<hr>
						</div>
					</div>
					<div class="Categ_2 clearfix">
						<div class="col-sm-3">
							<div class="Categ_2i clearfix">
								<a href="/category/headlights"><img src="/assets/Lights.png" alt="abc"></a>
								<h4 class="mgt"><a href="/category/headlights">Head Lights</a></h4>
								
							</div>
						</div>
						<div class="col-sm-3">
							<div class="Categ_2i clearfix">
								<a href="/category/bumpers"><img src="/assets/Bumpers.png" alt="abc"></a>
								<h4 class="mgt"><a href="/category/bumpers">Bumpers</a></h4>
								
							</div>
						</div>
						<div class="col-sm-3">
							<div class="Categ_2i clearfix">
								<a href="/category/engine"><img src="/assets/Engines.png" alt="abc"></a>
								<h4 class="mgt"><a href="/category/engine">Engine Parts</a></h4>
								
							</div>
						</div>
						<div class="col-sm-3">
							<div class="Categ_2i clearfix">
								<a href="/category/doors"><img src="/assets/Doors.png" alt="abc"></a>
								<h4 class="mgt"><a href="/category/doors">Doors</a></h4>
							
							</div>
						</div>
					</div>
					<div class="Categ_2 clearfix">
						<div class="col-sm-3">
							<div class="Categ_2i clearfix">
								<a href="/category/radars"><img src="/assets/Radars.png" alt="abc"></a>
								<h4 class="mgt"><a href="/category/radars">Radars</a></h4>
								
							</div>
						</div>
						<div class="col-sm-3">
							<div class="Categ_2i clearfix">
								<a href="/category/fenders"><img src="/assets/Fenders.png" alt="abc"></a>
								<h4 class="mgt"><a href="/category/fenders">Fenders</a></h4>
								
							</div>
						</div>
						<div class="col-sm-3">
							<div class="Categ_2i clearfix">
								<a href="/category/mirrors"><img src="/assets/Mirrors.png" alt="abc"></a>
								<h4 class="mgt"><a href="/category/mirrors">Mirrors</a></h4>
								
							</div>
						</div>
						<div class="col-sm-3">
							<div class="Categ_2i clearfix">
								<a href="/category/electrical"><img src="/assets/Wirings.png" alt="abc"></a>
								<h4 class="mgt"><a href="/category/electrical">Electrical Parts</a></h4>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="sell_n">
			<div class="container">
				<div class="row">
					<div class="sell_1_o clearfix">
						<div class="col-sm-5 space_left sell_1_ol">
							<h2 class="mgt">New Arrivals</h2>
							<hr>
						</div>
						<div class="col-sm-7 space_left">
							<!-- Controls -->
							<div class="clearfix sell_1_or text-right">

							</div>
						</div>
					</div>
					<div class="sell_o_1 clearfix">
						<div class="col-sm-3 space_left">
							<div class="arriv_2m clearfix">
								<div class="arriv_2m1 clearfix">
									<a href="/product-details/81150-06G50"><img src="/assets/Headlights.png" alt="abc" class="iw"></a>
								</div>
								<div class="arriv_2m2 clearfix">
									<h5 class="text-center mgt">New</h5>
								</div>
								<div class="arriv_2m2n clearfix">
									<h5 class="text-center mgt">Sale</h5>
								</div>
								<div class="arriv_2m3 clearfix">
									<p><a href="/product-details/81150-06G50"><h4 class="bold mgt">HEAD LIGHT</h4></a></p>
									<p><a href="/product-details/81150-06G50">HEAD LAMP LH GCC ES350 2022</a></p>
									<span style="color: rgb(224, 155, 5);" class="span_1">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</span>
									<h3 class="normal h3-size">
										<span class="span_2"></span>
										<span class="span_3 col_1"></span>
									</h3>
								</div>
							</div>
						</div>
						<div class="col-sm-3 space_left">
							<div class="arriv_2m clearfix">
								<div class="arriv_2m1 clearfix">
									<a href="/product-details/11112-11113"><img src="/assets/Bumper.png" alt="abc" class="iw"></a>
								</div>
								<div class="arriv_2m2 clearfix">
									<h5 class="text-center mgt">New</h5>
								</div>
								<div class="arriv_2m2n clearfix">
									<h5 class="text-center mgt">Sale</h5>
								</div>
								<div class="arriv_2m3 clearfix">
									<p><a href="/product-details/11112-11113"><h4 class="bold mgt">FRONT BUMPER</h4></a></p>
									<p><a href="/product-details/11112-11113">FRONT BUMPER COMPLETE GENUINE LE TOYOTA SIENNA 21-23</a></p>
									<span style="color: rgb(224, 155, 5);"  class="span_1">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</span>
									
								</div>
							</div>
						</div>
						<div class="col-sm-3 space_left">
							<div class="arriv_2m clearfix">
								<div class="arriv_2m1 clearfix">
									<a href="/product-details/53101-04100"><img src="/assets/Grill.png" alt="abc" class="iw"></a>
								</div>
								<div class="arriv_2m2 clearfix">
									<h5 class="text-center mgt">New</h5>
								</div>
								<div class="arriv_2m2n clearfix">
									<h5 class="text-center mgt">Sale</h5>
								</div>
								<div class="arriv_2m3 clearfix">
									<p><a href="/product-details/53101-04100"><h4 class="bold mgt">SHOW GRILLE</h4></a></p>
									<p><a href="/product-details/53101-04100">SHOW GRILLE BLACK WITH RING TOYOTA TACOMA 16-22</a></p>
									<span style="color: rgb(224, 155, 5);"  class="span_1">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</span>
									
								</div>
							</div>
						</div>
						<div class="col-sm-3 space_left">
							<div class="arriv_2m clearfix">
								<div class="arriv_2m1 clearfix">
									<a href="/product-details/81590-0E180"><img src="/assets/Backlight.png" alt="abc" class="iw"></a>
								</div>
								<div class="arriv_2m2 clearfix">
									<h5 class="text-center mgt">New</h5>
								</div>
								<div class="arriv_2m2n clearfix">
									<h5 class="text-center mgt">Sale</h5>
								</div>
								<div class="arriv_2m3 clearfix">
									<p><a href="/product-details/81590-0E180"><h4 class="bold mgt">TAIL LAMP LH</h4></a></p>
									<p><a href="/product-details/81590-0E180">TAIL LAMP LH TOYOTA HIGHLANDER 20-23</a></p>
									<span style="color: rgb(224, 155, 5);"  class="span_1">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</span>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="connect" class="clearfix">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 space_all">
						<div class="connect_1 clearfix">
							
							<div class="col-sm-3 connect_1m">
								<div class="connect_1l clearfix">
									<span><i class="fa fa-headphones"></i></span>
								</div>
								<div class="connect_1r clearfix">
									<h4>Support 24/7</h4>
									<p>Contact us 24 hours a day</p>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/652ea6d0a84dd54dc4822ae0/1hcv792eq';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->
		<%- include('common/footer');%>


</body>

</html>