<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Qasr Al Hasna Used Cars and Spare Parts LLC</title>
	<meta name="description" content="Learn about Qasr Al Hasna Used Cars and Spare Parts LLC - a leading supplier of quality used car parts for various makes and models. Discover our history, mission, and commitment to providing affordable and reliable spare parts.">
	<meta name="keywords" content="used car parts, spare parts, spare parts sharjah, spare parts UAE, highlander parts, sienna parts, second-hand car parts, affordable car parts">
	<link rel="canonical" href="https://www.qasralhasna.ae/about-us/" />
	<meta property="og:title" content="About Us - Qasr Al Hasna Used Cars and Spare Parts LLC">
	<meta property="og:description" content="Learn about Qasr Al Hasna Used Cars and Spare Parts LLC - a leading supplier of quality used car parts for various makes and models. Discover our history, mission, and commitment to providing affordable and reliable spare parts.">
	<meta property="og:url" content="https://www.qasralhasna.ae/about-us">
	<meta property="og:image" content="https://www.qasralhasna.ae/assets/2.jpg">
	<meta name="twitter:title" content="About Us - Qasr Al Hasna Used Cars and Spare Parts LLC">
	<meta name="twitter:description" content="Learn about Qasr Al Hasna Used Cars and Spare Parts LLC - a leading supplier of quality used car parts for various makes and models. Discover our history, mission, and commitment to providing affordable and reliable spare parts.">
	<meta name="twitter:image" content="https://www.qasralhasna.ae/assets/2.jpg">
	<meta name="twitter:card" content="summary_large_image">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
  <link href="/css/addProduct.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
  <script src="/js/jquery-2.1.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
	<link href="/css/about.css" rel="stylesheet"></head>
    <style>
    .login-container {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        width: 100%;
        
    }

    /* Style the "Show Password" checkbox label */
label[for="showPassword"] {
  margin-left: 10px;
  cursor: pointer;
}

/* Optionally, style the password input when it's visible */
#password[type="text"] {
  /* Add styling for visible password input, e.g., border or background color */
  background-color: #fff;
}


    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        font-weight: bold;
        display: block;
    }

    .form-group input[type="text"],
    .form-group input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .form-group button {
        background-color: #007BFF;
        color: #fff;
        border: none;
        padding: 10px 15px;
        border-radius: 3px;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        .login-container {
            margin: 10px;
        }
    }
</style>
    <body>
    <section id="top">
        <div class="container">
          <div class="row">
            <div class="top_1 clearfix">
              <div class="col-sm-3">
                <div class="top_1l clearfix">
                  <p class="mgt small">Welcome to our store!</p>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="top_1r clearfix">
                  <ul class="nav navbar-nav nav_1 mgt navbar-right">
                    <li class="dropdown bord_l">
                      <a class="font_tag border_none" href="#" data-toggle="dropdown" role="button"
                        aria-expanded="false">English<span class="caret"></span></a>
                      <ul class="dropdown-menu drop_1" role="menu">
                        <li><a href="#"><i class="fa fa-flag"></i> English</a></li>
                        <li><a href="#"><i class="fa fa-flag"></i> Arabic</a></li>
                      </ul>
                    </li>
                    <!-- <li id="userDisplayName" style="margin-left: 15px; color: black;"><a></a></li> -->
                  </ul>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="top_1r clearfix">
                  <ul class="nav navbar-nav nav_1 mgt navbar-right">
                    <li id="userDisplayName" class="dropdown bord_l" style="display: none;">
                      <a class="font_tag border_none" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span id="loggedInUserName">Admin</span><span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu drop_1" role="menu">
                        <li><a href="#" onclick="logout()"><i class=""></i> Logout</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              
        </div>
      </section>
      <section id="header">
        <div class="container">
          <div class="row">
            <div class="header_1 clearfix">
            
              <div class="col-sm-4">
                
                <div class="header_1l clearfix">
                  <h2 class="mgt"><a href="/"><span class="col_1">Qasr AL</span> Hasna</a></h2>
                  <p>We have been dealing in spare parts since 90's</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="header_1m clearfix">
                    
                </div>
              </div>
              <div class="header_1r clearfix">
                
              </div>
            </div>
          </div>
        </div>
      </section>
	   
    <section id="menu" class="clearfix cd-secondary-nav">
        <nav class="navbar nav_t">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><span class="col_1">Qasr Al</span> Hasna</a>
                   
                </div>
                
                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li><a class="m_tag " href="/" id="homeLink">Home</a></li>
                        <li><a class="m_tag" href="/all-products">Products</a></li>
                        <li><a class="m_tag" href="/cars">Cars</a></li>
                        <li><a class="m_tag" href="/about-us">About Us</a></li>
                        <li><a class="m_tag" href="/contact-us">Contact Us</a></li>
                        <li><a id="addProductButton" class="m_tag" href="/addProduct" style="display: none;">Add Products</a></li>
                        <li><a id="addCarsButton" class="m_tag" href="/addCars" style="display: none;">Add Cars</a></li>
                        <!-- <li id="userMenuItem" style="display: none;">
                          <a class="m_tag active_tab" href="/logout" style="margin-left: 185px; width: auto;">
                            <p style="color: white;"><span id="loggedInUserName"></span></p>
                          </a>
                        </li> -->
                    </ul>

                    
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

    </section>
	
    <section id="center" class="clearfix center_shop">
      <h2 style="text-align: center; color: #ea1c26;">Admin Login</h2>
      <div class="login-container">
        <form action="javascript:void(0)" method="post" onsubmit="login()">
          <div class="form-group">
            <label for="name">Name:</label>
            <input style="width: 400px;" type="text" id="name" name="name" value="" required>
            <p id="nameError" style="color: red;"></p>
          </div>
          <div class="form-group">
            <label for="username">Email:</label>
            <input type="text" id="username" name="username" required>
            <p id="usernameError" style="color: red;"></p>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <label for="showPassword">Show Password</label>
            <input type="checkbox" id="showPassword" onchange="togglePasswordVisibility()">
            <p id="passwordError" style="color: red;"></p>
            <p id="passwordError" style="color: red;"></p>
          </div>
          <button style="margin-left: 30%;" type="submit">Login</button>
          <button type="button" onclick="cancel()">Cancel</button>
        </form>
      </div>
    </section>
      <script>

function togglePasswordVisibility() {
  const passwordInput = document.getElementById('password');
  const showPasswordCheckbox = document.getElementById('showPassword');

  if (showPasswordCheckbox.checked) {
    passwordInput.type = 'text';
  } else {
    passwordInput.type = 'password';
  }
}


    let userIsLoggedIn = false;
    let userDisplayName = '';        

  function login() {
    const name = document.getElementById('name').value;
    const usernameInput = document.getElementById('username').value;
    const passwordInput = document.getElementById('password').value;
      var predefinedUsername = 'newparts@qasralhasna.ae';
      var predefinedPassword = 'Newparts123@';
      if (validateForm()) {
        if (usernameInput === predefinedUsername && passwordInput === predefinedPassword) {
  // Authentication successful
  userIsLoggedIn = true;
  userDisplayName = name;

  // Store the login status and user information in storage
  storeUserNameInStorage(userDisplayName);
  localStorage.setItem('userIsLoggedIn', 'true'); // Set the login status

  // Clear the form fields
  clearFormFields();

  // Update the UI to reflect the logged-in status
  updateUI();

} else {
  alert('Please check your username or password.');
}

  }
}

function storeUserNameInStorage(name) {
  sessionStorage.setItem('userName', name);
  localStorage.setItem('userName', name);
}

function clearFormFields() {
  document.getElementById('name').value = '';
  document.getElementById('username').value = '';
  document.getElementById('password').value = '';
}

function updateUI() {
  
  toggleAddProductButton();
  toggleAddCarsButton();

  const loggedInUserNameElement = document.getElementById('loggedInUserName');
  loggedInUserNameElement.innerText = userDisplayName;

  const userDisplayNameElement = document.getElementById('userDisplayName');
  userDisplayNameElement.style.display = userIsLoggedIn ? 'block' : 'none';
}

      function toggleUserMenuItem(name) {
        const userDisplayName = document.getElementById('loggedInUserName');
      
        function checkLoggedInStatus() {
        const storedUserName = sessionStorage.getItem('userName');
        if (storedUserName) {
        userIsLoggedIn = true;
        statusLoggedIn = true;
        toggleUserMenuItem(storedUserName);
        toggleAddProductButton();
        toggleAddCarsButton();
  } else {
    userIsLoggedIn = false;
    userDisplayName = '';
    updateUI();
  }
}
      }
      function cancel() {
  window.location.href = '/';
}
      
function logout() {
  // Set the login status to false
  userIsLoggedIn = false;

  // Clear the user display name, which should hide the "Admin" dropdown
  userDisplayName = '';

  // Update the UI to reflect the logout
  updateUI();
}


      
     // Update the toggleAddProductButton function
function toggleAddProductButton() {
  const addProductButton = document.getElementById('addProductButton');
  if (userIsLoggedIn) {
    addProductButton.style.display = 'block';
  } else {
    addProductButton.style.display = 'none';
  }
}
function toggleAddCarsButton() {
  const addProductButton = document.getElementById('addCarsButton');
  if (userIsLoggedIn) {
    addCarsButton.style.display = 'block';
  } else {
    addCarsButton.style.display = 'none';
  }
}

document.addEventListener('DOMContentLoaded', () => {
  checkLoggedInStatus();
  checkFormValidity();
  displayUsernameOnHomePage();

  // Add a click event listener to the "Home" link
  const homeLink = document.getElementById('homeLink');
  homeLink.addEventListener('click', () => {
    // Set the statusLoggedIn variable when the "Home" link is clicked
    statusLoggedIn = true;
    toggleAddProductButton();
    toggleAddCarsButton();
  });
});

      
      // toggleAddProductButton();
      
      function validateForm() {
        var name = document.getElementById('name');
        var username = document.getElementById('username');
        var password = document.getElementById('password');
        var nameError = document.getElementById('nameError');
        var usernameError = document.getElementById('usernameError');
        var passwordError = document.getElementById('passwordError');
      
        if (name.value.trim() === '') {
          nameError.textContent = 'Name is required';
          return false;
        } else {
          nameError.textContent = '';
        }
      
        if (username.value.trim() === '') {
          usernameError.textContent = 'Username is required';
          return false;
        } else {
          usernameError.textContent = '';
        }
      
        if (password.value.trim() === '') {
          passwordError.textContent = 'Password is required';
          return false;
        } else {
          passwordError.textContent = '';
        }
      
        return true;
      }

  // Function to check if the form is valid and enable/disable the "Login" button
  function checkFormValidity() {
    const name = document.getElementById('name').value;
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;
    const loginButton = document.querySelector('form button[type="submit"]');

    if (name.trim() !== '' && username.trim() !== '' && password.trim() !== '') {
      loginButton.removeAttribute('disabled');
    } else {
      loginButton.setAttribute('disabled', 'true');
    }
  }

  // Add event listeners to form inputs to check validity on input change
  document.getElementById('name').addEventListener('input', checkFormValidity);
  document.getElementById('username').addEventListener('input', checkFormValidity);
  document.getElementById('password').addEventListener('input', checkFormValidity);

  // Initially, the "Login" button should be disabled
  document.addEventListener('DOMContentLoaded', () => {
    checkFormValidity();
  });

    
    </script>
      
      

</body>

 
</html>
